body {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}
#score {
  width: 80px;
  border-radius: 50%;
  height: 50px;
  background-color: blue;
  text-align: center;
  padding-top: 25px;
  margin-top: 20px;
}
button {
  background-color: aqua;
  padding: 10px;
  border-radius: 5px;
  color: rgb(80, 38, 146);
  box-shadow: 0 0 50px blue;
}
.box {
  height: 100%;
  width: 500px;
  background-color: rgb(178, 24, 225);
  border-radius: 2%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
